<html>
  <head>
    <title>Home</title>
   <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
   <link href="/stylesheets/css/justified-nav.css" rel="stylesheet">
  </head>
  <body>
  
  <div class="container">

      <div class="masthead">
       <ul class="nav navbar-nav navbar-right">
       <% if (typeof log!== "undefined"){%>
       <li><b> Last login at : <font color="#43C6DB"> <%= log %>  </font></b></li>
       <% } %>
            <li><b> Logged in as <font color="#43C6DB"> <%= fn %> <%= ln %> </font></b></li>
            
          </ul>
        <h3 class="text-muted">Amazon Store</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="/home">Home</a></li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/electronics">Electronics</a></li>
                <li><a href="/sports">Sporting goods</a></li>
                <li><a href="/books">Books</a></li>
                
              </ul>
            </li>
          <li><a href="/mycart">My Cart</a></li>
          <li><a href="/mypurchase">My Purchases</a></li>
          <li><a href="/logout">Logout</a></li>
          </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
      <% if(typeof fn!== 'undefined') { %>
         <h2>Welcome <%= fn %></h2>
         <% } %>
        <p class="lead">Online Store for Men, Women and Kids. Find latest products at bargain prices. Compare and buy from a huge selection of products. Come explore with us.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

     
      <!-- Site footer -->
      <div class="footer">
       
      </div>

    </div> <!-- /container -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
     <script src='/stylesheets/js/bootstrap.min.js'></script>
    
    </body> 
    </html>  